# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history

/.framgia-ci-reports/*

/.framgia-ci-result.temp.yml

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
