<%= form_for [@post, @comment], remote: true do |f| %>
<div class="input-group">
  <%= f.text_field :content, placeholder: t(".add_comment"),
    class: "form-control comment-field" %>
    <div class="input-group-btn">
      <%= f.submit t(".comment"), class: "btn btn-default" %>
    </div>
  </div>
<% end %>
