<footer class="footer">
  <small>
  <p><%= t ".author" %><%= link_to t(".name"), "http://fb.com/storm291" %></p>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
    </ul>
  </nav>
</footer>
